<div class="row">
  <div class="col-md-12 text-center">
    <h2>Bem Vindo a sua To Do List</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <div class="container-fluid">
      <div class="row">
        <%= form_tag({controller: 'tarefas', action: 'create'}, method: 'post') do%>
            <div class="form-group">
              <%= label_tag(:texto, 'Digite a sua tarefa') %>
              <%= text_field_tag(:texto, value = nil, options = {'class' =>  'form-control'}) %>
            </div>
            <div class="form-group">
              <%= label_tag(:data, 'Data da Tarefa') %>
              <%= text_field_tag(:data, value = nil, options = {'class' =>  'form-control', 'type' => 'date'}) %>
            </div>
            <input name="id" type="hidden" value="<%= session[:idUsuario]%>">
            <div class="actions">
            </div>
            <input type="submit" value="Criar Tarefa">
            </div>

        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container-fluid">
      <% @tarefas.each do |tarefa| %>
      <div class="row">
        <div class="col-md-6 text-justify">
          <div class="alert alert-success" role="alert"><%= tarefa.texto %></div>
        </div>
        <div class="col-md-3">
          <button class="btn btn-lg btn-block btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Alterar</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-lg btn-block btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
